@using FamiliyApplication.AspireApp.Web.Components.Shared
@using FamiliyApplication.AspireApp.Web.CosmosDb.Family


<div Class="medical-appointment-card">
    <div class="event-content">
        <div class="text-content">
            <h3>@Event.Title</h3>
            <p><strong>@Event.Time</strong></p>
            <BlazorServer.RichtextEditor.RichTextDisplay HtmlValue="@Event.Description" />
            <p class="extra-info">🚨 Don’t forget!</p>
        </div>
        
		<LottiePlayer Src="lottie/timeline/lottieMedicalAppointment.json"
					  Width="100px"
					  Height="100px"
					  Style="border-radius: 50%"
					  Autoplay="true"
					  Speed="1" />
      
    </div>
</div>

@code {
    [Parameter]
    public FamilyEvent Event { get; set; }
}