@using FamiliyApplication.AspireApp.Web.CosmosDb.Family

<div Class="outside-event-card">
    <div class="event-content">
        <h3>@Event.Title</h3>
        <p><strong>@Event.Time</strong></p>
        <BlazorServer.RichtextEditor.RichTextDisplay HtmlValue="@Event.Description" />
        <p class="extra-info">📍 Ute av huset</p>
    </div>
</div>

@code {
    [Parameter]
    public FamilyEvent Event { get; set; }
}