@namespace Fa.Client.Blazorwasm.Components.Pages
@page "/myfamily"
@using System.Collections.Specialized
@using Fa.Client.Blazorwasm.Components.Users
@using FamilyApplication.AspireApp.Web.Databuffer
@using Microsoft.AspNetCore.Authorization
@implements IDisposable
@inject GlobalVm GlobalVm
<PageTitle>Min familie</PageTitle>
<h3>Min familie</h3>
<div class="grid-container">
    @foreach (var bruker in GlobalVm.UserDtos)
    {
        <UserCard User="@bruker" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        GlobalVm.UserDtos.CollectionChanged += TriggerStatChanged;
    }

    private Guid _lastTriggerGuid = Guid.Empty;
    private async void TriggerStatChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        var guid = Guid.NewGuid();
        _lastTriggerGuid = guid;
        await Task.Delay(50);

        if (guid != _lastTriggerGuid)
            return;

        StateHasChanged();
    }

    public void Dispose()
    {
        GlobalVm.UserDtos.CollectionChanged -= TriggerStatChanged;
    }


    

}
